canvas{
	width: 100%;
	height: 98.1%;
	border-radius:0 0 5px 5px;
}

#ButtonsBar{
	top: 3%;
	right: 4px;
	position: absolute;
	background: transparent;
	width:4%;
	height:18%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.SceneButton{
	position: relative;
	background: transparent;
	width:100%;
	height:100%;
	border-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; /* Растягиваем фоновую картинку на весь элемент */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	border-radius: 10px;
}

.SceneButton:hover{
	background: green;
	width:100%;
	height:100%;
	border-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; /* Растягиваем фоновую картинку на весь элемент */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	border-radius: 5px;
}

#Maximize{
	background-image: url("../img/button/maximize_3.png") ; /* Путь к фоновому изображению */
}
#StartView{
	background-image: url("../img/button/StartView_4.png") ; /* Путь к фоновому изображению */
}
#FullDisplay{
	background-image: url("../img/button/maximize_5.png") ; /* Путь к фоновому изображению */
}

#Scale_container{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

#Frame_LoadBar{
	background: white;
	position: absolute;
	background-image: url("../img/Cartoon.jpg") ; /* Путь к фоновому изображению */
	background-size: 100% 100%; /* Растягиваем фоновую картинку на весь элемент */
	background-repeat: no-repeat;
	width: 87%;
	height: 86%;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	border: 4px solid black;
	border-radius:7px;
	visibility: visible; 
	z-index: 2;
}

#Fast_Target_Inform{
	background: transparent;
	position: absolute;
	width: 18%;
	height: 18%;
	left: 5px;
	top: 2.3%;
	border: 1px transparent;
	font: bold 0.85vw sans-serif;
	color:  #00ff00;
}

.Button_Control_Layot{
	background-color: #555;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font: bold 0.65vw sans-serif;
    color: white;
	width: 25%;
	height: 2.2%;
	border-radius: 5px 5px 0 0;
}

.Button_Control_Layot:hover {
    background-color: #777;
}
